body{
    font-family: Arial, sans-serif;
}
#links{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 0 10px #00000042;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
form p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: left;
    align-items: top;
    flex-wrap: wrap;
}
textarea{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: tomato;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}
button:hover{
    background-color: #ff6b6b;
}


.link {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 0 10px #00000042;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}


.link p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #2c3e50;
}

.link span {
    font-size: 14px;
    color: #7f8c8d;
}

.link .created-at {
    font-size: 14px;
    color: #95a5a6;
    margin-top: 10px;
}

.link div {
    margin: 10px 0;
}

.link div span {
    font-size: 16px;
    color: #34495e;
    word-wrap: break-word;
}

.link a {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s ease;
}

.link a:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.link button {
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s ease;
}

button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.link .tagname {
    font-weight: 600;
    color: #2980b9;
}

@media (max-width: 600px) {
    .container {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    form {
        width: 80%;
    }
    .link {
        width: 80%;
    }
    #links {
        display: block;
    }
    
}
